body {
    margin: 0;
}

/* Début de mon header */
/* Début de mon preheader */
header section:first-of-type div {
    background-color: #616161;
    width: 100%;
    height: 40px;
}

header section:first-of-type div div {
    float: left;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    width: 534px;
}

header section:first-of-type div div:nth-of-type(2) {
    text-align: center;
}

header section:first-of-type div div:last-of-type {
    text-align: right;
}

header section:first-of-type div p {
    margin: 0;
    padding-top: 10px;
    font-weight: bold;
}

header section:first-of-type div span {
    font-style: italic;
    font-weight: normal;
}
/* Fin de mon preheader */

/* Début du corps de mon header */
header section:nth-of-type(2) {
    background-color: #F8F8F8;
    height: 160px;
}

/* Début de mon .logo */
header .logo {
    float: left;
    padding-left: 100px;
    padding-top: 30px;
    width: 20%;
}

header .logo h1 {
    margin: 0;
    font-size: 1em;
}
/* Fin de mon .logo */

/* Début de mon .menu */
header .menu {
    float: right;
    padding-top: 30px;
}

header .menu div {
    float: left;
}

header .menu .devis {
    padding-right: 100px;
    padding-bottom: 30px;
}

header .menu .conseils {
    padding-right: 80px;
}

header .menu .panier img {
    width: 20%;
}

header .menu div h3, header .menu div p {
    margin: 0;
}
/* Fin de mon .menu */
/* Fin du corps de mon header */

/* Début de ma nav */
header nav {
    background: linear-gradient(white -15%, lightgrey);
    box-shadow: 0 -1px 5px lightgray;
}

header nav ul {
    margin: 0;
    padding: 5px 0;
}

header nav ul li {
    list-style-type: none;
    display: inline;
    border-left: 1px solid lightgrey;
    padding: 15px 60px 11px 60px;
}

header nav ul input {
    height: 20px;
    padding-left: 10px;
}

header nav ul button {
    height: 26px;
    margin-left: -5px;
    background-color: #616161;
    color: white;
    border: 1px solid #616161;
}

header nav ul li i {
    font-size: 1.8em;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;

}
/* Fin de ma nav */
/* Fin de mon header */

/* Début de mon main */
main section {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

/* Début de mon .slider */
main section .slider {
    float: left;
    width: 70%;
}

main section .slider img {
    width: 1080px;
    height: 500px;
}
/* Fin de mon .slider */

/* Début de mon .aside */
main section .aside {
    width: 30%;
    float: left;
}

main section .aside figure {
    display: flex;
    flex-flow: column;
    max-width: 220px;
    margin: 0;
    margin-bottom: 49px;
    margin-left: 60px;
}

main section .aside img {
    width: 160%;
}

main section .aside figcaption {
    background-color: #F62775;
    color: #fff;
    padding: 3px;
    text-align: center;
    width: 346px;
}
/* Fin de mon .aisde */

/* Début de mon qualiteleft */
main section .qualiteleft {
    float: left;
    width: 80%;
}

main section .qualiteleft div {
    float: left;
    padding-right: 122px;
}

main section .qualiteleft div:first-of-type {
    float: left;
    padding-right: 160px;
}

main section .qualiteleft div:nth-of-type(2) {
    float: left;
    padding-right: 125px;
}

main section .qualiteleft div p {
    color: gray;
    font-size: 1.2em;
    text-transform: uppercase;
}

main section .qualiteleft div i {
    font-size: 2em;
}
/* Fin de mon qualiteleft */

/* Début de mon qualiteright */
main section .qualiteright {
    float: left;
    width: 20%;
}

main section .qualiteright p {
    color: gray;
    font-size: 1.5em;
    margin-top: 50px;
    width: 304px;
    text-transform: uppercase;
    margin-left: -40px;
}

main section .qualiteright i {
    font-size: 2em;
}
/* Fin de mon qualiteright */

/* Début de mon .hexagon */
main section .hexagon {
    clip-path: polygon(80% 0, 100% 100%, 80% 100%, 80% 80%, 0 80%, 0 0);
    background-color: #F62775;
    width: 200px;
    height: 60px;
    margin-top: 250px;
}

main section .hexagon h2 {
    color: white;
    padding-top: 12px;
    padding-left: 30px;
    font-size: 1.3em;
}

main section .hexagon hr {
    width: 5px;
}
/* Fin de mon .hexagon */

/* Début de mon .card */
main section .card {
    margin-top: 30px;
}

main section .card > div {
    float: left;
    width: 400px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
}

main section .card > div:first-of-type,
main section .card > div:nth-of-type(2),
main section .card > div:nth-of-type(4),
main section .card > div:nth-of-type(5) {
    margin-right: 136px;
}

main section .card img {
    width: 400px;
    height: 300px;
}
/* Fin de mon .card */






/* Fin de mon main */

/* Début de mon .clear */
.clear {
    clear: both;
}
/* Fin de mon .clear */